*{
  box-sizing: border-box;
}


body {
  background-color: #000;
}

header {
  position: absolute;
  top: 50px;
  right: 100px;
}

.nav {
  padding-right: 20px;
  z-index: 2000;
}

a {
  color: red;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  color: #FFF;

}

.notflix {
  color: red;
  position: absolute;
  left: 50px;
  top:25px;
  font-size: 60px;
  font-family: 'Roboto', sans-serif;
}
