*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

 .movie-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  min-width: 100%;
  justify-items: center;
}
