*{
  box-sizing: border-box;
}

 .movie-list-container {
  
  position: absolute;
  top: 200px;
  display: grid;
  grid-template-columns: 20%  20% 20% 20% 20%;
  grid-template-rows:20% 20% 20% 20% 20%;
}
