*{
  box-sizing: border-box;
}

body {
  margin: 0;
}

 .movie-list-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  min-width: 100%;
}

@media screen and (max-width: 1320px) {
  .movie-list-container {
    grid-template-columns: 1fr 1fr 1fr ;
  }
}

@media screen and (max-width: 975px) {
  .movie-list-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 625px) {
  .movie-list-container {
    grid-template-columns: 1fr;
  }
}
