*{
  box-sizing: border-box;
}

.movie-cards {
  border-radius: 15px;
  box-shadow: 0 0 8px red;
  color: white;
  height: 500px;
  position: relative;
  width: 300px;
}

.movie-cards:hover{
  background-color:rgba(0,0,0,.8);
  border-radius: 15px;
  color: white;
  cursor: pointer;
  height: 500px;
  transition: all .2s ease-in;
  width: 300px;
}

.movie-img {
  border-radius: 15px;
  height: 500px;
  left:0;
  position: absolute;
  top:0;
  width: 300px;
  z-index: -999;
}

.card-title-text {
  margin-top: 50px;
  text-align: center;
}

.date-text, .score-text {
  font-size: 20px;
  text-align: center;
}

.card-text {
  margin: 25px 25px;
  font-size: 16px;
  text-align: center;
}

.text {
  display: none;
  text-align: center;
}

.movie-cards:hover .text {
  display: block;
}

.favorite-button, .button-link {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 10px;
  right: 20px;
  font-size: 12px;
  outline: none;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 60px;
}

.favorite-button:hover, .button-link:hover {
  box-shadow: 0 0 8px red;
  color: red;
  outline: none;
}

.favorite-button:active, .button-link:active {
  box-shadow: 0 2px #666;
  outline: none;
  transform: translateY(2px);
}

.remove {
  background-color: red;
  color: white;
  outline: none;
}
