*{
  box-sizing: border-box;
}

.movie-cards {
  color: white;
  border-radius: 15px;
  box-shadow: 0 0 8px red;
  height: 500px;
  width: 300px;
  position: relative;
  margin: 25px;
}

.movie-cards:hover{
  background-color:rgba(0,0,0,.8);
  color: white;
  width: 300px;
  height: 500px;
  transition: all .2s ease-in;
  cursor: pointer;
  border-radius: 15px;
}
.movie-img {
  border-radius: 15px;
  height: 500px;
  width: 300px;
  position: absolute;
  top:0;
  left:0;
  z-index: -999;
}

.card-title-text {
  margin-top: 50px;
  text-align: center;
}

.date-text, .score-text {
  font-size: 20px;
  text-align: center;
}

.card-text {
  margin: 25px 25px;
  font-size: 16px;
  text-align: center;
}

.text {
  display: none;
  text-align: center;
}

.movie-cards:hover .text {
  display: block;
}

.favorite-button, .button-link {
  position: absolute;
  right: 20px;
  top: 20px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  width: 60px;
  text-align: center;
  font-size: 14px;
}


.favorite-button:hover, .button-link:hover {
box-shadow: 0 0 8px red;
color: red;

}
